header
  h1, span
    @include inline-block
    font-size: $large
    font-weight: bold
    padding: ($margin/2) $margin
  h1
    @include border-radius( $large )
    background: $blue
    color: $white

// end
